.container{
	width: 90%;
}

.navbar-brand img{
	max-height: 100%;
	width:auto;
}

iframe{
	width:50%;
	height:90vh;
	position:absolute;
	top: 7vh;
	left: 25%;
	display: none;
	z-index:99999;
}
#first{
	position: relative;
	}

#first  #hand {
	position: absolute;
	height: 40%;
	top: 60%;
	left:2em;
	z-index: 999;
}

#firstText{
	position: absolute;
	z-index: 9999;
	top: 10vh;
	left: 5vh;
	color: #130F49;
	font-size: 60px;
	font-family: 'bai_jamjuree_regular';
}
#secondText{
	position: absolute;
	z-index: 9999;
	font-family: 'baloo_2_regular';
	font-size: 27px;
	color: #130F49;
	top: 65vh;
	right: 15vh;
}

#first #firstPlan{
	position: absolute;
	top: -20vh;
	z-index: 50;
	right: 0;
	width: 100%;
	height: max-content;
}
#firstPlan img, #secondPlan img{
	width: 100%;
	height: 100%;
}

#first #secondPlan{
	position: absolute;
	top: -12vh;
	right: 0;
	z-index: 10;
}

#first #rocket{
	position: absolute;
	top: 0;
	z-index: 999;
	right: 0;
}

#first #next{
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 25%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#first #next h2, #first #next span{
	font-family: 'baloo_2_regular';
	font-size: 35px;
	color: #130F49;
	margin: 0;
	text-align: center;
}

#cards, .card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

#cards h4{
	text-align: center;
	margin: 1em 0;
	font-family: 'baloo_2_regular';
	font-size: 40px;
	color: #130F49;
}

#cards .wow{
	width: 30%;
}

.card{
	text-align: center;
	flex-direction: column;
	height: 50vh;
	border-radius: 15px;
	padding: 1em;
	justify-content: center;
	box-shadow: 45px 19px 98px 0px rgb(51 51 51 / 24%);
	background-color: #fff;
	font-family: 'baloo_2_regular';
	color: #130F49;
	font-size: 19px;
	width: 100%;
}

.card img{
	margin-bottom: 1em;
}

#aPropos h2, #services h2{
	text-align: center;
	font-family: 'bai_jamjuree_regular';
	font-size: 40px;
	margin-bottom: 1em;
	color: #130F49;
}

#services h2{
	margin-bottom: 2em;
}

#services .card{
	justify-content: flex-start;
}

#services .card img{
	height: 100px;
}
#services .card h5{
	font-family: 'baloo_2_regular';
	color: #130F49;
	font-size: 30px;
	margin: 1em 0;
}
